/* ==UserStyle==
@name           irrvlo
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url("example.com") {
    /* 在此插入程式碼…… */
}/* General */
:root {
    --dark:             #141414;
    --dark-transparent: rgba(0, 0, 0, 0);
    --accent:           #acfa70;
    --alt-accent:       #4476ff;
    --red:              #ff4c4c;
    --yellow:           #edb846;
    --orange:           #ff932d;
    --pink:             #ff9ce4;
}

*::-webkit-scrollbar {
    display: none !important;
}

.text-1,
.text-2 {
    text-shadow: unset !important;
}

/* HUD */
.mini-map-cont {
    left: 1rem !important;
}

.mini-map-cont div {
    font-size: 1.5rem !important;
    display: flex !important;
    position: static !important;
}

.mini-map-cont .mod {
    font-size: 1rem !important;
}

.timer {
    background: transparent !important;
    box-shadow: unset !important;
}

.kill-death {
    position: fixed;
    right: 1rem;
    top: 1rem;
    gap: 0.5rem;
}

.kill-bar-cont {
    top: 3.5rem !important;
}

.kill-bar-item .weapon-cont {
    height: 1.5rem;
}

.kill-bar-item {
    background: var(--dark-transparent) !important;
    margin-top: 0.25rem;
    padding: 0.5rem !important;
}

.kill-death > div {
    padding: 0.5rem !important;
    border-radius: 0.25rem !important;
    margin: unset !important;
    box-shadow: unset !important;
    background: var(--dark-transparent) !important;
}

.weapons-cont {
    bottom: 1rem !important;
    right: 1rem !important;
}

.state-weapon-active {
    height: min-content !important;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

/* .list-weapons { */
/*     height: 250%;
    width: 200%;
    position: relative;
    bottom: 0px;
    left: -110px;     */
/* } */

.list-weapons > .weapon-cont > .bottom > img {
    position: fixed;
    top: 20rem;
}

.weapon-name.text-1 {
    visibility: hidden;
    
}

.bottom:not(.is-selected) {
    display: none;
}
.info-key-cont,
.mWwn,
.instruction {
    display: none !important;
}

.quantity[data-v-4f0772fa] {
    display: flex;
    background: transparent;
    color: var(--pink);
}

.ammunition {
    background: transparent !important;
    color: var(--pink);
}

/* .state-weapon-active>.ammunition:after { */
/* 	content: "∞"; */
/* 	font-size: 96px; */
/*     color: #bf81f3; */
/* } */

.chat {
    margin-bottom: -80px;
    border-radius: 5px;
}

.chat .name {
    color: white;
}


.desktop-game-interface .chat > .info {
    display: none;
}

.desktop-game-interface .chat > .messages {
    min-height: 11rem !important;
    margin: unset;
    background: transparent !important;
    transition: background 0.2s ease;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.25rem;
}

input {
    background: #0000 !important;
}
.desktop-game-interface .chat > .messages .JOIN {
    color: var(--accent);
}

.desktop-game-interface .chat > .messages .LEAVE {
    color: var(--red);
}

.desktop-game-interface .chat .message .lvl {
    color: var(--orange);
}
.desktop-game-interface .chat .message .author-name {
    color: var(--yellow);
}

/*.desktop-game-interface > .chat .input:not(:focus) {
    background: transparent;
    height: 0rem;
    padding: 0;
}

.desktop-game-interface > .chat:not(:focus-within) .messages {
    background: transparent !important;
}
.messages[data-v-76a3fe0a] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.container {
    background: #101216 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.desktop-game-interface .chat .input:focus {
    height: 2.5rem !important;
    transition: background 0.2s ease;
    margin: unset;
    padding: 0.5rem !important;
    border-radius: 0 0 0.25rem 0.25rem;
    background: var(--dark-transparent);
}*/

/*.desktop-game-interface .chat .input::placeholder {
    color: #ffffff8c !important;
    text-transform: lowercase;
    font-weight: 400;
    letter-spacing: 0.01rem;
}
*/
.desktop-game-interface .chat .info-key-cont {
    display: none;
}

.state-cont {
    flex-direction: row !important;
    max-width: 25rem !important;
    gap: 0.5rem !important;
    align-items: flex-end;
    opacity: 1 !important;
}

.cont-endurance {
    top: 0;
    left: 700px;
    margin: unset !important;
    padding: unset !important;
    width: 4.5rem;
    height: 4rem !important;
    background: var(--dark-transparent) !important;
    display: flex;
    align-items: flex-end;
    border-radius: 0.25rem !important;
    transform: rotate(-90deg);
    position: relative;
}

.cont-endurance:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: url("https://irrvlo.xyz/dash.png");
    background-size: cover;
    background-position: center;
    transform: rotate(90deg) scale(0.8);
    filter: invert(1);
    mix-blend-mode: screen;
}

.endurance-progress {
    background: var(--pink) !important;
    height: 4rem !important;
    border-radius: 0.25rem !important;
    transition: width 0.2s linear !important;
}

.hp-cont {
    right: -143%;
    flex-direction: column;
    gap: 0.5rem;
}

.hp-title {
    position: relative;
    right: -700px;
    width: min-content;
    align-items: flex-start;
    background: transparent !important;
    padding: unset !important;
    font-size: 2.5rem !important;
    color: var(--pink);
}

.cont-hp {
    position: relative;
    right: -143%;
    margin: unset !important;
    height: 1rem !important;
    border-radius: 0.3rem !important;
    background: transparent !important;
}

.hp-progress {
    position: relative;
    right: -225px;
    height: 100% !important;
    border-radius: 0.15rem !important;
    transition: width 0.2s linear !important;
}

.team-score {
    gap: 5.5rem;
    top: 1rem !important;
}

.team-score .label {
    margin: unset;
    font-size: 1.75rem;
    height: 2.25rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-score .label.red {
    background: var(--red);
}

.team-score .label.blue {
    background: var(--alt-accent);
}

/* Kill Card */
.death-cont {
    background: transparent !important;
    justify-content: flex-end !important;
}

.death-cont .user-card {
    margin-bottom: -0.7rem;
    transform: scale(0.7);
    padding: 1rem;
    border: unset;
    border-radius: 0.25rem !important;
    box-shadow: unset;
    max-width: 37.5rem;
    background: var(--dark-transparent);
}

.user-card .avatar {
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
}

.user-card .killer-level {
    color: white;
    background: transparent;
    padding: 0;
    font-size: 3.5rem;
}

.user-card .killer-name {
    align-items: flex-start;
    margin-left: 0.75rem;
}

.user-card .killer-clan {
    color: var(--accent);
}


.killer-name .killer-name {
    margin-left: 0;
}

.user-card .label-killed {
    display: none;
}

.user-card .name-gun:before {
    content: "["
}

.user-card .name-gun:after {
    content: "]"
}

/* Solo Tab List */
.tab-info {
    background: var(--dark-transparent) !important;
    box-shadow: unset !important;
    border-radius: 0.25rem !important;
    max-width: 35rem !important;
}

.tab-info .head {
    background: linear-gradient(90deg, var(--orange), transparent) !important;
    box-shadow: unset !important;
    border: unset;
    font-style: normal;
    border-top-left-radius: 0.25rem;
}

.tab-info .head .server-id {
    display: none;
}

.tab-info .list-value {
    color: var(--accent)
}

/* Team Tab List */
.tab-team-info {
    background: var(--dark-transparent) !important;
    box-shadow: unset !important;
    border-radius: 0.25rem !important;
    max-width: 60rem !important;
}

.tab-team-info .head {
    background: transparent !important;
    box-shadow: unset !important;
}

.tab-team-info .label.red {
    border-top-left-radius: 0.25rem;
    background: linear-gradient(90deg, var(--red), var(--dark-transparent));
    justify-content: flex-start;
    padding-left: 0.75rem;
}

.tab-team-info .label.blue {
    border-top-right-radius: 0.25rem;
    background: linear-gradient(-90deg, var(--alt-accent), var(--dark-transparent));
    justify-content: flex-end;
    padding-right: 0.75rem;
}

.player-list .list-value {
    color: var(--accent);
}

.player-list .player-cont {
    background: var(--dark-transparent) !important;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.player-cont .nickname.bolder {
    color: var(--yellow);
}
